

.loginpagecontainer {
    background-image: url('/images/BACKGROUND.png');
    /* width: 100%; /* 使用百分比設置寬度 */
    /* max-width: 1600px; /* 可選的最大寬度，以防止元素變得過寬 */
    height: 100vh;
    margin: 0; /* 清除默認的body邊距 */
    padding: 0; /* 清除默認的body內邊距 */
    background-size: cover; /* 使圖像覆蓋整個視窗 */
    background-repeat: no-repeat; /* 防止圖像重複 */
    background-attachment: fixed; /* 防止圖像滾動 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginformcontainer {
    border: 1px solid #000;
    height: 20rem;
    width: 40rem;
    background-color: rgb(245, 245, 245, 0.95);
    margin: 30;
    border-radius: 50px;
    padding-top: 3rem;
}

.loginformcontainer div{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.loginformcontainer div label{   
    flex: 0.3; 
    margin-left: 18%;
    padding: 2px 4px;
}
.loginformcontainer div input{
    flex: 0.9;
    margin-right: 18%;
    background-color: rgba(140, 248, 212, 0.6);
    color: #000;
    border: none;
    border-radius: 6px;
    height: 30px;
}

.loginformcontainer div input:-webkit-any(){
    flex: 1.1;
    margin-right: 20%;
    background-color: rgba(140, 248, 212, 0.6);
    color: #000;
    border: none;
    border-radius: 6px;
    height: 30px;
}


.button {
    /* margin: 1rem 16rem;     /* 上下  左又*/
    margin: 0 16rem 1rem 16rem; /* 由上開始順時針 */
    width: 8rem;
    height: 45px;
    border-radius: 20px;
    background-color: rgb(123, 65, 248, 0.5); /* 按鈕背景顏色 */
    color: #000000; /* 按鈕文字顏色 */
    border: none; /* 移除按鈕邊框*/
    cursor: pointer; /* 改變游標 */
}
.button:hover {
    background-color: rgba(88, 45, 180, 0.5); /* 按鈕背景顏色 */
}

.label1, .label2{
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.link1, .link2{
    color: rgb(0, 0, 0);
    padding: 10px;
}

.link1:hover, .link2:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
