<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <!-- 下面按鈕用的URL對應到urls.py -->
    <form action="{% url 'Kado' %}" enctype="multipart/form-data" method="POST">
                                        <!-- 要寫enctype="multipart/form-data"才會正常收到檔案 -->
        {% csrf_token %}
        {% for word in allwordcard %}
        {{word.word}}
        
        <img src="\study{{word.img.url}}" style="max-width: 100%; max-height: 200px;">
        <br/>
        {% endfor %}
        <br/>
        
    </form>

</body>

</html>
