[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
pymysql = "*"
pyjwt = "*"
python-decouple = "*"
pillow = "*"
djangorestframework = "==3.14.0"
mediapipe = "==0.9.3.0"
channels = "==3.0.5"
channels-redis = "*"
cvzone = "*"
keras = "*"
tensorflow = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.8.10"
