.detailpagecontainer {
    min-height: 100vh;
    background: linear-gradient(to bottom, 
        rgb(194, 210, 27) -30%, 
        rgba(33, 238, 249, 0.816) 50%, 
        rgb(154, 235, 41) 160%);
    display: flex;
    justify-content: center;
    padding-top: 6rem;
}

.mainareacontainer {

}

.mainareacontainer div{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    color: black;
}

.mainareacontainer h1{
    margin-left: 0rem;
    justify-self: self-start;
}

.mainareacontainer h6{
    padding-top: 1.5rem;
    margin-left: auto;
    justify-self: self-start;
}

.mainareacontainer textarea{
    min-width: 40rem;
    min-height: 20rem;
    max-height: 100rem;
    height: auto;
    padding: 1rem;
    background-color:rgba(250, 235, 215, 0.6);
    border: none;
    resize: none;
    border: none;
    color: black;
    border-radius: 10px;
}

.lowercontainer{
    
    overflow:inherit;
    min-height: 20rem;
    height: auto;
}

.repagebtn{
    position: fixed;
    top: 5.8rem;
    left: 1.5rem;
    width: 6rem;
    height: 2rem;
    border-radius: 30px;
    border: none;
    background-color: beige;
    color: black;
    font-size: 20px;
    font-weight: 900;

}
.repagebtn:hover{
    cursor: pointer;
    background-color: rgb(155, 155, 141); 
}

.deletebutton{
    position: absolute;
    margin-left: 16rem;
    background-color: #0e91ae;
    border: none;
    width: 5rem;
    height: 2rem;
    border-radius: 30px;
    z-index: 999;
}

.deletebutton:hover{
    cursor: pointer;
    background-color: #09677c;
}