.detailpagecontainer{
    min-height: 100vh;
    background-image: url('/images/forum_BG2.png');
    background-size: cover;
    background-repeat: repeat-y;
    /* height: 200vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contnetcontainer{
    margin-top: 5rem;
    width: 70rem;
    height: 30rem;
    border: 3px solid rgb(117, 66, 15);
    border-radius: 5rem;
    background-color: antiquewhite;
    
}

.uppercontainer{
    display: flex;
}

.uppercontainer div.rightcontainer{
    color: black;
    margin-left: 6rem;
    align-self: center;
    font-size: 22px;
}

.uppercontainer div.leftcontainer{
    display: flex;
    /* margin-left: 34rem; */
    margin-left: auto;
    margin-right: 4rem;
    color: black;
}

/* 作者名稱 */
.uppercontainer div.leftcontainer p{    
    align-self: center;
    font-size: 25px;
    font-weight: 600;
}
/* 文章日期 */
.uppercontainer div.leftcontainer h6{    
    align-self: self-end;
    padding-bottom: 10px;
}
/* 作者頭像 */
.uppercontainer div.leftcontainer img{
    border-radius: 50%;
    margin: 5px;
    padding: 5px;
}

.lowercontainer{
    padding: 2rem 4rem;
    
}
.lowercontainer textarea{
    padding: 1rem 2rem;
    width: 100%;
    height: 20rem;
    background-color: rgb(233, 221, 221);
    color: black;
    font-size: 20px;
    border-radius: 6px;
    resize: none;
}

.responseArea {
    margin-top: 1rem;
    width: 70rem;
}

.responsecontainer {
    border: 1px solid black;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.329);
    backdrop-filter: blur(10px);
    color: black;
    padding: 1rem 1.8rem;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

/* 留言容器 */
.responsecontainer div.responseuppercontainer{
    display: flex;
    
}

/* 留言頭像 */
.responsecontainer img{
    border-radius: 50%;
}

/* 留言名稱 */
.responsecontainer div.responseuppercontainer p {
    align-self: center;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
}
/* 留言日期 */
.responsecontainer div.responseuppercontainer span {
    align-self: self-end;
    justify-self: self-end;
    /* margin-left: 5px; */
    margin-left: auto;
    font-size: 12px;
    font-weight: 300;
}

.responsecontainer div.responselowercontainer p {
    padding: 10px 4rem;
    word-break: break-all;
}

.usersendResponsecomtainer{
    display: flex;
    padding: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.329);
}

.usersendResponsecomtainer textarea{
    padding: 1rem 1.3rem;
    width: 64rem;
    background-color: rgb(233, 221, 221);
    color: black;
    font-size: 20px;
    border-radius: 6px;
    resize: none;
}
.usersendResponsecomtainer textarea:disabled{
    cursor: not-allowed;
}

.usersendResponsecomtainer button{
    width: 4rem;
    height: 3rem;
    align-self: center;
    margin-left: 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(100, 59, 17);
}

.usersendResponsecomtainer button:hover{
    cursor: pointer;
    background-color: rgb(188, 110, 31);
}

.usersendResponsecomtainer button:disabled{
    cursor:not-allowed ;
    background-color: rgb(100, 59, 17);
   
}

.repagebtn{
    position: absolute;
    top: 4.7rem;
    left: 0.3rem;
    width: 6rem;
    height: 2rem;
    border-radius: 30px;
    border: none;
    background-color: beige;
    color: black;
    font-size: 20px;
    font-weight: 900;

}
.repagebtn:hover{
    cursor: pointer;
    background-color: rgb(155, 155, 141); 
}

.deletebutton{
    height: 3rem;
    width: 6rem;
    margin-top: 1.3rem;
    margin-right: 15rem;
    background-color: deepskyblue;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 18px;
}

.deletebutton:hover{
    cursor: pointer;
    background-color: rgb(0, 97, 129);
}


