.detailpagecontainer{
    min-height: 100vh;
    background-image: url('/images/forum_BG2.png');
    background-size: cover;
    background-repeat: repeat-y;
    /* height: 200vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.contnetcontainer{
    margin-top: 5rem;
    width: 70rem;
    height: 30rem;
    border: 3px solid rgb(117, 66, 15);
    border-radius: 5rem;
    background-color: antiquewhite;
}

@media (max-width:600px) {
    .contnetcontainer{
        margin-top: 7rem;
        width: 25rem;
        min-height: 30rem;
        height: auto;
        border: 3px solid rgb(117, 66, 15);
        border-radius: 5rem;
        background-color: antiquewhite;
    }
    .uppercontainer {
        margin-top: 30px;
        margin-left: 8px;
        max-width: 25rem;
        display: flex !important;
        flex-direction: column !important;
    }
    .uppercontainer div.rightcontainer{
        color: black;
        margin-left: 20px !important;
        align-self: center;
        font-size: 22px;
    }
    .uppercontainer div.leftcontainer{
        display: flex;
        margin-right: 0px !important;
        color: black;
    }
    .deletebutton{
        margin: 0px !important;
    }

}

.uppercontainer{
    display: flex;
}

.uppercontainer div.rightcontainer{
    color: black;
    margin-left: 6rem;
    align-self: center;
    font-size: 22px;
}

.uppercontainer div.leftcontainer{
    display: flex;
    /* margin-left: 34rem; */
    margin-left: auto;
    margin-right: 4rem;
    color: black;
}

/* 作者名稱 */
.uppercontainer div.leftcontainer p{    
    align-self: center;
    font-size: 25px;
    font-weight: 600;
}
/* 文章日期 */
.uppercontainer div.leftcontainer h6{    
    align-self: self-end;
    padding-bottom: 10px;
}
/* 作者頭像 */
.uppercontainer div.leftcontainer img{
    border-radius: 50%;
    margin: 5px;
    padding: 5px;
}

.uppercontainer div.leftcontainer img:hover{
    cursor: pointer;
}


.lowercontainer{
    padding: 2rem 4rem;
    
}
.lowercontainer textarea{
    padding: 1rem 2rem;
    width: 100%;
    height: 20rem;
    background-color: rgb(233, 221, 221);
    color: black;
    font-size: 20px;
    border-radius: 6px;
    resize: none;
}

.responseArea {
    margin-top: 1rem;
    width: 70rem;
}

.responsecontainer {
    border: 1px solid black;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.329);
    backdrop-filter: blur(10px);
    color: black;
    padding: 1rem 1.8rem;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

@media (max-width:600px) {
    .responseArea {
        margin-top: 1rem;
        width: 24rem;
        border-radius: 5px;
    }
    .usersendResponsecomtainer textarea{
        
        width: 20rem !important;
    }
}


/* 留言容器 */
.responsecontainer div.responseuppercontainer{
    display: flex;
    position: relative;
}

/* 留言頭像 */
.responsecontainer img{
    border-radius: 50%;
}
.responsecontainer img:hover{
    cursor: pointer;
    border-radius: 50%;
}

/* 留言名稱 */
.responsecontainer div.responseuppercontainer p {
    align-self: center;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
}
/* 留言日期 */
.responsecontainer div.responseuppercontainer span {
    align-self: self-end;
    justify-self: self-end;
    /* margin-left: 5px; */
    margin-left: auto;
    font-size: 12px;
    font-weight: 300;
}

.responsecontainer div.responselowercontainer p {
    padding: 10px 4rem;
    word-break: break-all;
}

.usersendResponsecomtainer{
    display: flex;
    padding: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.329);
}

.usersendResponsecomtainer textarea{
    padding: 1rem 1.3rem;
    width: 64rem;
    background-color: rgb(233, 221, 221);
    color: black;
    font-size: 20px;
    border-radius: 6px;
    resize: none;
}
.usersendResponsecomtainer textarea:disabled{
    cursor: not-allowed;
}

.usersendResponsecomtainer button{
    width: 4rem;
    height: 3rem;
    align-self: center;
    margin-left: 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(100, 59, 17);
}

.usersendResponsecomtainer button:hover{
    cursor: pointer;
    background-color: rgb(188, 110, 31);
}

.usersendResponsecomtainer button:disabled{
    cursor:not-allowed ;
    background-color: rgb(100, 59, 17);
   
}

.repagebtn{
    position: absolute;
    top: 4.7rem;
    left: 0.3rem;
    width: 6rem;
    height: 2rem;
    border-radius: 30px;
    border: none;
    background-color: beige;
    color: black;
    font-size: 20px;
    font-weight: 900;

}
.repagebtn:hover{
    cursor: pointer;
    background-color: rgb(155, 155, 141); 
}

.deletebutton{
    height: 3rem;
    width: 6rem;
    margin-top: 1.3rem;
    margin-right: 15rem;
    background-color: deepskyblue;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 18px;
}

.deletebutton:hover{
    cursor: pointer;
    background-color: rgb(0, 97, 129);
}

.deleteresponsebutton {
    position:absolute;
    height: 3rem;
    width: 4rem;
    margin-top: 1rem;
    margin-left: 58rem;
    background-color: rgb(0, 191, 255);
    border: none;
    border-radius: 10px;
    color: black;
}

.deleteresponsebutton {
    position:absolute;
    height: 3rem;
    width: 4rem;
    margin-top: 1.1rem;
    margin-left: 58rem;
    background-color: rgba(0, 255, 213, 0.419);
    border: none;
    border-radius: 10px;
    color: black;
}

.deleteresponsebutton:hover {
   cursor: pointer;
    background-color: rgba(0, 146, 122, 0.419);
}


.profilecard {
    width: 45rem;
    height: 10rem;
    border-radius: 10px;
    border:3px solid rgb(208, 183, 183);
    background-color: rgb(194, 203, 211);
    display: flex;
    padding: 10px;
    margin-top: 4rem;
    position: fixed;
    z-index: 500;
}

.profilecard div {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 8px;
    margin-left: 10px;
}

.profilecard div img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.profilecard div.textcontainer{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.profilecard div.textcontainer div.username{
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}

.profilecard div.textcontainer div.describe{
    margin: 0px;
    color: black;
    width: 30rem;
    height: 20rem;
    overflow: auto;
}

.profilecard div.textcontainer div.describe textarea{
    margin: 0px;
    color: black;
    width: 30rem;
    height: 20rem;
    overflow: auto;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0; 
    resize: none;
    padding: 5px 10px;
}
.mask {
    position: absolute;
    z-index: 300;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.512);
}


