

.valemailpagecontainer {
    background-image: url('/images/BACKGROUND.png');
    /* width: 100%; /* 使用百分比設置寬度 */
    /* max-width: 1600px; /* 可選的最大寬度，以防止元素變得過寬 */
    height: 100vh;
    margin: 0; /* 清除默認的body邊距 */
    padding: 0; /* 清除默認的body內邊距 */
    background-size: cover; /* 使圖像覆蓋整個視窗 */
    background-repeat: no-repeat; /* 防止圖像重複 */
    background-attachment: fixed; /* 防止圖像滾動 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.valemailformcontainer {
    border: 1px solid #000;
    height: 15.8rem;
    width: 30rem;
    background-color: rgb(245, 245, 245, 0.95);
    margin: 30;
    border-radius: 50px;
    padding-top: 2rem;
}

.valemailformcontainer div{
    display: flex;
    justify-content: center;
    padding: 10px;
    position: relative;
}
.valemailformcontainer div img{
    position: absolute;
    left: 3.8rem;
    margin-top: 3px;
}

.valemailformcontainer div span.errormsg{
    /* background-color: rgb(22, 220, 95); */
    position: absolute;
    left: 37rem;
    padding: 3px;
}

.valemailformcontainer div label{   
    flex: 3;
    color: #000;
    margin-left: 16%;
    padding: 2px 4px;
}


.valemailformcontainer div input{
    flex: 12;
    margin-right: 22.5%;
    background-color: rgba(140, 248, 212, 0.6);
    color: #000;
    border: none;
    border-radius: 6px;
    height: 30px;
    padding-left: 10px;
}

.button {
    /* margin: 1rem 16rem;     /* 上下  左又*/
    margin: 0 11rem 0rem 11rem; /* 由上開始順時針 */
    width: 8rem;
    height: 45px;
    border-radius: 20px;
    background-color: rgb(123, 65, 248, 0.5); /* 按鈕背景顏色 */
    color: #000000; /* 按鈕文字顏色 */
    border: none; /* 移除按鈕邊框*/
    cursor: pointer; /* 改變游標 */
}
.button:hover {
    background-color: rgba(88, 45, 180, 0.5); /* 按鈕背景顏色 */
}

.resendemaincontainer {
    display: flex;

}
.resendemaincontainer button{
    margin-right: 12rem;
    width: 5rem;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(65, 74, 248, 0.5); /* 按鈕背景顏色 */
    margin-top: 1px;
    color: #000000; /* 按鈕文字顏色 */
    border: none; /* 移除按鈕邊框*/
    cursor: pointer; /* 改變游標 */
}
.resendemaincontainer button:hover {
    background-color:  rgba(42, 47, 161, 0.5); 
}
.resendemaincontainer button:hover:disabled {
    background-color:  rgba(27, 28, 38, 0.5); /* 按鈕背景顏色 */
    cursor: not-allowed;
}