<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <form action="{% url 'ForgetPassword' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br/>
        <button id="val" type="submit">驗證</button>
    </form>
    <button id="getvalnum" type="submit">發送驗證碼</button>
    
</body>

</html>
<script>
    document.getElementById("getvalnum").addEventListener("click", function() {

        var email = document.getElementById("id_email").value; // 獲取 email 輸入框的值

        var form = document.createElement("form");
        form.method = "post";
        form.action = "{% url 'ForgetPasswordValNumResend' %}";

        var emailInput = document.createElement("input"); // 創建一個新的 input 元素
        emailInput.type = "hidden"; // 設置 input 類型為隱藏
        emailInput.name = "email"; // 設置 input 的名稱為 "email"
        emailInput.value = email; // 設置 input 的值為 email 的值
        form.appendChild(emailInput); // 添加 input 到 form 中
        
        document.body.appendChild(form);
        form.submit();
    });
</script>