<!DOCTYPE html>
<html>
<head>
    <style>
        h1, h6 {
          display: inline; /* 或使用 inline-block */
        }
      </style>
</head>
<body>
    <form action="{% url 'BillboardSend' %}" method="POST" >

        
    
        <div><h1 href="google.com">{{ instance.title }}</h1><h6>{{ instance.upload_date }}</h6></div>
        <div><p>{{ instance.content }}</p></div>
        
        

    </form>

</body>

</html>
<!DOCTYPE html>
<html>
<head>
    <style>
        h1, h6 {
          display: inline; /* 或使用 inline-block */
        }
      </style>
</head>
<body>
    <form action="{% url 'BillboardSend' %}" method="POST" >

        
    
        <div><h1 href="google.com">{{ instance.title }}</h1><h6>{{ instance.upload_date }}</h6></div>
        <div><p>{{ instance.content }}</p></div>
        
    </form>

</body>

</html>
