.studypagecontainer {
    background-image: url('/images/study_indexpageBG.jpg');
    background-size: cover; /* 使圖像覆蓋整個視窗 */
    background-repeat: no-repeat; /* 防止圖像重複 */
    background-attachment: fixed; /* 防止圖像滾動 */
    height: 100vh;
    /* display: flex;
    justify-content: center; */
    /* margin-top: 3.8rem; */
}

.blackboardcontainer {
    display: flex;
    justify-content: flex-start;
    width: 50rem;
    max-width: 50rem;
    padding-top: 6rem;
    margin: 0rem 15rem;
    flex-wrap: wrap;
}
.blackboardcontainer div.chanhepagecontainer {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    width: 100%;
}
.blackboardcontainer div.chanhepagecontainer a{
    padding: 10px;
}
.blackboardcontainer div.chanhepagecontainer span{
    padding-top: 12.5px;
}
.blackboardcontainer div.chanhepagecontainer a:hover{
    text-decoration:  underline;
}

.blackboardcontainer div.techtypecontainer a{
    padding: 0px;
    font-size: 40px;
    margin: 0 2rem;
}
.blackboardcontainer div.techtypecontainer a:hover{
    text-decoration: underline;
}


.techtypecontainer{
    width: 16rem;
    border: 2px solid white;
    margin: 5px;
    border-radius: 10px;
}

.techtypecontainer:hover{
    background-color: rgba(0, 0, 0, 0.535);
}

.repagebtn{
    position: fixed;
    top: 6rem;
    left: 3rem;
    width: 6rem;
    height: 2rem;
    border-radius: 30px;
    border: none;
    background-color: beige;
    color: black;
    font-size: 20px;
    font-weight: 900;

}
.repagebtn:hover{
    cursor: pointer;
    background-color: rgb(155, 155, 141); 
}
